<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>php-templating</title>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	<div>
		
		<h1>{{company}} </h1>
		<h2>{{phrase}}</h2> <br>

		<p> At {{company}}, we create amazing ! {{productname}} made of {{productmateriel}} </p>

		<p>Find out more on {{url}}</p><br>
	</div>

	<div class="card" style="width: 18rem;">
		<img src="http://lorempixel.com/400/200/technics" class="card-img-top" alt="image objet">
		<div class="card-body">
			<h5 class="card-title">{{productname}}</h5>
			<p class="card-text">Material : {{productmateriel}}</p>
			<p class="card-text">Color : {{color}} </p>
			<h5 class="card-text">{{price}}€ only !</h5>

			<a href="#" class="btn btn-primary">Take my money</a>
		</div>
	</div>

	<div class="user">
		<img src="http://lorempixel.com/400/200/abstract" alt="image profil" class="rounded-circle"/> 
		<h2>{{username}}</h2><br>
		<h3>{{job}}</h3><br>
		<p>Contact info :<br> {{email}}<br>{{phone}}<br><br>{{rue}}<br>{{code}} {{ville}}</p>


	</div>
</body>
</html>
